body{
    background-color: #2b2e3b;
}

/* Menu */

.nav-menu{
    background-color: #634987; 
    border-bottom: 1px solid #e8e8e8;
    border-bottom-color: #1a1b23 !important;
}

.nav-menu img{
    width: 50px; 
    height: 50px;
    border-radius: 80px;
}

.nav-span{
    font-family: 'Goudy Bookletter 1911', sans-serif;
    font-size: 40px;
}

.collapse-nav{
    font-size: 20px; 
    justify-content: center;
} 

/* Center Logo */

.center-logo .h1{
    color: #fff; font-family: Righteous, sans-serif;
    font-size: 500%;
    margin-right: 30%;
    margin-left: 35%;
    margin-top: 3%; 
    
}

.center-logo .but-1{
    margin-top: 10%;
    text-align: center;
}
  
  .box{
    position:absolute;
    top:50%;
    left:50%;
    transform : translate(-50% ,-50%);
  }
  
  .btn-logo:link,
  .btn-logo:visited{
    text-decoration: none;
    text-transform:uppercase;
    position:relative;
    top:0;
    left:0;
    padding:20px 40px;
    border-radius:100px;
    display:inline-block;
    transition: all .5s;
  }
  
  .btn-white{
    background:rgb(94, 10, 87);
    color:#000;
  }
  
  .btn-logo:hover{
     box-shadow:0px 10px 10px rgba(0,0,0,0.2);
     transform : translateY(-3px);
  }
  
  .btn-logo:active{
    box-shadow:0px 5px 10px rgba(0,0,0,0.2);
    transform: translateY(-1px);
  }
  
  .btn-bottom-animation-1{
    animation:comeFromBottom 1s ease-out .8s;
  }
  
  .btn-logo::after{
    content:"";
    text-decoration: none;
    text-transform:uppercase;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    border-radius:100px;
    display:inline-block;
    z-index:-1;
    transition: all .5s;
  }
  
  .btn-white::after {
      background: rgb(94, 10, 87);
  }
  
  .btn-animation-1:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
  }
  
  @keyframes comeFromBottom{
    0%{
      opacity:0;
      transform:translateY(40px);
    } 
    100%{
      opacity:1;
      transform:translateY(0);
    }
  }

/* Top Donate */

.top-donate{
    margin-top: 20%; 
    color: #fff;
}


.top-donate .text-center{
    font-size: 40px; 
    font-family: Roboto, sans-serif; 
    color: #634987;
}

.top-donate .card-group{
    margin: 5%;
}

.top-donate .card{
    border: #21232b; 
    margin-right: 5%; 
    margin-left: 5%;
}

.top-donate .card-img-top{
    background-color: #21232b;
}

.top-donate .card-body{
    background-color: #21232b;
}

.top-donate .p-sm{
    font-size: 30px;
}

.top-donate .card{
    border: #21232b;
    margin-right: 5%;
}

/* Staff */

.staff{
    margin-top: 10%; 
    color: #fff;
}

.staff .text-center{
    font-size: 40px; 
    font-family: Roboto, sans-serif; 
    color: #634987; 
    margin-right: 5%;;
}

.staff.staff-div{
    margin-left: 15%;
}

.staff .owner{
    color: #fff;
}

.staff .tab-2{
    margin-top: 8%;
}

.staff .staff-nick{
    font-size: 20px;
    margin-right: -3%;
}

.staff .wis{
    margin-left: 2em;
}

.staff .zakuro{
    margin-left: 2em;
}

.staff .morakul{
   margin-left: 1.5em;
}

.staff .luz{
    margin-left: 1.5em;
}

.staff-stat{
    color: #56555e;
    margin-left: 1em;
}